/*.hprof
/*.log
/*.zip
/*.index
/*.threads
/target/
/targetnull
/rrd.war
/hs_err_pid12781.log
/catalina.base_IS_UNDEFINED/
/ch.qos.logback.classic.joran.ReconfigureOnChangeTask.class
/ch.qos.logback.classic.Logger.class
/ch.qos.logback.classic.LoggerContext.class
/ch.qos.logback.classic.spi.LoggerContextVO.class
/ch.qos.logback.classic.spi.LoggingEvent.class
/ch.qos.logback.core.UnsynchronizedAppenderBase.class
/ch.qos.logback.core.joran.action.Action.class
/ch.qos.logback.core.joran.event.BodyEvent.class
/ch.qos.logback.core.joran.event.EndEvent.class
/ch.qos.logback.core.joran.event.StartEvent.class
/ch.qos.logback.core.joran.spi.ElementPath.class
/ch.qos.logback.core.joran.spi.SimpleRuleStore.class
/ch.qos.logback.core.pattern.FormatInfo.class
/ch.qos.logback.core.pattern.PatternLayoutBase.class
/ch.qos.logback.core.pattern.parser.Node.class
/ch.qos.logback.core.pattern.parser.SimpleKeywordNode.class
/ch.qos.logback.core.pattern.parser.Token.class
/ch.qos.logback.core.recovery.ResilientFileOutputStream.class
/ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy.class
/ch.qos.logback.core.rolling.TimeBasedRollingPolicy.class
/ch.qos.logback.core.rolling.helper.Compressor.class
/ch.qos.logback.core.rolling.helper.RenameUtil.class
/ch.qos.logback.core.rolling.helper.TimeBasedArchiveRemover.class
/ch.qos.logback.core.status.StatusBase.class
/ch.qos.logback.core.subst.Node.class
/ch.qos.logback.core.subst.Token.class
/ch.qos.logback.core.util.COWArrayList.class
/ch.qos.logback.core.util.FileSize.class
/com.espertech.esper.client.Configuration.class
/com.espertech.esper.client.EPException.class
/com.espertech.esper.client.EPServiceProviderManager.class
/com.espertech.esper.client.EventPropertyDescriptor.class
/com.espertech.esper.client.time.CurrentTimeEvent.class
/com.espertech.esper.codegen.core.CodegenTypedParam.class
/com.espertech.esper.collection.ArrayBackedCollection.class
/com.espertech.esper.collection.ArrayEventIterator.class
/com.espertech.esper.collection.MixedEventBeanAndCollectionIteratorBase.class
/com.espertech.esper.collection.MultiKey.class
/com.espertech.esper.collection.MultiKeyUntyped.class
/com.espertech.esper.collection.NullIterator.class
/com.espertech.esper.collection.Pair.class
/com.espertech.esper.collection.SingleEventIterator.class
/com.espertech.esper.collection.TransformEventIterator.class
/com.espertech.esper.collection.UniformPair.class
/com.espertech.esper.core.context.factory.StatementAgentInstanceFactoryBase.class
/com.espertech.esper.core.context.mgr.ContextManagementServiceImpl.class
/com.espertech.esper.core.context.subselect.SubSelectStrategyCollection.class
/com.espertech.esper.core.context.util.EPStatementAgentInstanceHandle.class
/com.espertech.esper.core.service.EPAdministratorHelper.class
/com.espertech.esper.core.service.EPAdministratorImpl.class
/com.espertech.esper.core.service.EPRuntimeImpl.class
/com.espertech.esper.core.service.EPServiceProviderImpl.class
/com.espertech.esper.core.service.EPStatementFactoryDefault.class
/com.espertech.esper.core.service.EPStatementImpl.class
/com.espertech.esper.core.service.InsertIntoLatchFactory.class
/com.espertech.esper.core.service.InternalEventRouterImpl.class
/com.espertech.esper.core.service.StatementAgentInstanceRWLockImpl.class
/com.espertech.esper.core.service.StatementContext.class
/com.espertech.esper.core.service.StatementContextFactoryDefault$1.class
/com.espertech.esper.core.service.StatementContextFactoryDefault.class
/com.espertech.esper.core.service.StatementEventTypeRefImpl.class
/com.espertech.esper.core.service.StatementLifecycleEvent.class
/com.espertech.esper.core.service.StatementLifecycleSvcImpl$EPStatementDesc.class
/com.espertech.esper.core.service.StatementLifecycleSvcImpl.class
/com.espertech.esper.core.service.StatementLifecycleSvcUtil.class
/com.espertech.esper.core.service.StatementMetadataFactoryContext.class
/com.espertech.esper.core.service.StatementMetadataFactoryDefault.class
/com.espertech.esper.core.service.StatementResultServiceImpl.class
/com.espertech.esper.core.service.StatementVariableRefImpl.class
/com.espertech.esper.core.service.multimatch.MultiMatchHandlerFactoryImpl.class
/com.espertech.esper.core.start.EPStatementDestroyCallbackList.class
/com.espertech.esper.core.start.EPStatementStartMethodBase.class
/com.espertech.esper.core.start.EPStatementStartMethodFactory.class
/com.espertech.esper.core.start.EPStatementStartMethodHelperAssignExpr.class
/com.espertech.esper.core.start.EPStatementStartMethodSelect$2.class
/com.espertech.esper.core.start.EPStatementStartMethodSelect.class
/com.espertech.esper.core.start.EPStatementStartMethodSelectUtil.class
/com.espertech.esper.core.start.EPStatementStartResult.class
/com.espertech.esper.core.start.EPStatementStopMethodImpl.class
/com.espertech.esper.epl.core.resultset.rowperevent.ResultSetProcessorRowPerEventIterator.class
/com.espertech.esper.epl.core.resultset.rowpergroup.ResultSetProcessorRowPerGroupIterator.class
/com.espertech.esper.epl.expression.core.ExprIdentNodeImpl.class
/com.espertech.esper.epl.expression.core.ExprNodeBase.class
/com.espertech.esper.epl.expression.visitor.ExprNodeTableAccessVisitor.class
/com.espertech.esper.epl.join.exec.base.CompositeTableLookupStrategy.class
/com.espertech.esper.epl.join.plan.CompositeTableLookupPlan.class
/com.espertech.esper.epl.join.plan.FullTableScanLookupPlan.class
/com.espertech.esper.epl.join.plan.QueryGraph.class
/com.espertech.esper.epl.join.plan.QueryGraphKey.class
/com.espertech.esper.epl.join.plan.QueryGraphValue.class
/com.espertech.esper.epl.join.plan.QueryPlan.class
/com.espertech.esper.epl.join.plan.QueryPlanIndex.class
/com.espertech.esper.epl.join.plan.QueryPlanIndexItem.class
/com.espertech.esper.epl.join.plan.TableLookupIndexReqKey.class
/com.espertech.esper.epl.join.plan.TableLookupPlan.class
/com.espertech.esper.epl.join.table.PropertyCompositeEventTable.class
/com.espertech.esper.epl.join.table.UnindexedEventTable.class
/com.espertech.esper.epl.lookup.LookupStrategyDesc.class
/com.espertech.esper.epl.named.NamedWindowConsumerMgmtServiceImpl.class
/com.espertech.esper.epl.named.NamedWindowMgmtServiceImpl.class
/com.espertech.esper.epl.parse.ASTUtil.class
/com.espertech.esper.epl.parse.EPLTreeWalkerListener.class
/com.espertech.esper.epl.parse.ParseHelper.class
/com.espertech.esper.epl.spec.ObjectSpec.class
/com.espertech.esper.epl.spec.util.StatementSpecCompiledAnalyzer.class
/com.espertech.esper.epl.spec.util.StatementSpecRawAnalyzer.class
/com.espertech.esper.epl.variable.VariableServiceImpl.class
/com.espertech.esper.epl.variable.VariableVersionThreadEntry.class
/com.espertech.esper.epl.variable.VariableVersionThreadLocal.class
/com.espertech.esper.event.NaturalEventBean.class
/com.espertech.esper.event.bean.BeanEventAdapter.class
/com.espertech.esper.event.bean.BeanEventBean.class
/com.espertech.esper.event.bean.BeanEventType.class
/com.espertech.esper.event.bean.CGLibPropertyGetter.class
/com.espertech.esper.event.bean.InternalEventPropDescriptor.class
/com.espertech.esper.event.map.MapEventBean.class
/com.espertech.esper.filter.FilterParamIndexBase.class
/com.espertech.esper.filter.FilterParamIndexLookupableBase.class
/com.espertech.esper.filter.FilterSpecCompiled.class
/com.espertech.esper.filter.FilterSpecLookupable.class
/com.espertech.esper.filter.FilterSpecParam.class
/com.espertech.esper.filter.FilterSpecParamConstant.class
/com.espertech.esper.filter.FilterValueSetImpl.class
/com.espertech.esper.filter.FilterValueSetParamImpl.class
/com.espertech.esper.pattern.EvalEveryFactoryNode.class
/com.espertech.esper.pattern.EvalEveryStateNode.class
/com.espertech.esper.pattern.EvalObserverFactoryNode.class
/com.espertech.esper.pattern.EvalObserverStateNode.class
/com.espertech.esper.pattern.EvalRootFactoryNode.class
/com.espertech.esper.pattern.EvalRootStateNode.class
/com.espertech.esper.pattern.MatchedEventMapImpl.class
/com.espertech.esper.rowregex.EventRowRegexHelper.class
/com.espertech.esper.timer.TimeSourceServiceImpl.class
/com.espertech.esper.type.IntValue.class
/com.espertech.esper.type.LongValue.class
/com.espertech.esper.type.StringValue.class
/com.espertech.esper.util.DependencyGraph.class
/com.espertech.esper.util.ManagedReadWriteLock.class
/com.espertech.esper.view.StatementStopServiceImpl.class
/com.espertech.esper.view.ViewFactoryContext.class
/com.espertech.esper.view.window.TimeBatchView.class
/com.espertech.esper.view.window.TimeWindowView.class
/com.fasterxml.jackson.databind.introspect.POJOPropertiesCollector.class
/com.fasterxml.jackson.databind.introspect.POJOPropertyBuilder.class
/com.fasterxml.jackson.databind.util.ArrayIterator.class
/hs_err_pid10789.log
/hs_err_pid14138.log
/hs_err_pid14141.log
/hs_err_pid30915.log
/hs_err_pid3850.log
/hs_err_pid6534.log
/java_pid10892.hprof
/java_pid11704.hprof
/java_pid22400.hprof
/jdk.internal.org.objectweb.asm.Label.class
/jdk.internal.org.objectweb.asm.Type.class
/net.sf.cglib.asm.$Label.class
/net.sf.cglib.asm.$Type.class
/net.sf.cglib.core.ClassInfo.class
/net.sf.cglib.core.MethodInfo.class
/net.sf.cglib.core.MethodWrapper$MethodWrapperKey$$KeyFactoryByCGLIB$$d45e49f7.class
/net.sf.cglib.core.Signature.class
/net.sf.cglib.reflect.FastClass.class
/net.sf.cglib.reflect.FastMember.class
/org.antlr.v4.runtime.ANTLRInputStream.class
/org.antlr.v4.runtime.CommonToken.class
/org.antlr.v4.runtime.RuleContext.class
/org.antlr.v4.runtime.atn.ATNConfig.class
/org.antlr.v4.runtime.atn.ATNConfigSet.class
/org.antlr.v4.runtime.atn.ATNState.class
/org.antlr.v4.runtime.atn.ActionTransition.class
/org.antlr.v4.runtime.atn.ArrayPredictionContext.class
/org.antlr.v4.runtime.atn.AtomTransition.class
/org.antlr.v4.runtime.atn.EmptyPredictionContext.class
/org.antlr.v4.runtime.atn.EpsilonTransition.class
/org.antlr.v4.runtime.atn.LexerChannelAction.class
/org.antlr.v4.runtime.atn.NotSetTransition.class
/org.antlr.v4.runtime.atn.RangeTransition.class
/org.antlr.v4.runtime.atn.SemanticContext$Predicate.class
/org.antlr.v4.runtime.atn.SetTransition.class
/org.antlr.v4.runtime.atn.SingletonPredictionContext.class
/org.antlr.v4.runtime.atn.WildcardTransition.class
/org.antlr.v4.runtime.dfa.DFA.class
/org.antlr.v4.runtime.dfa.DFAState.class
/org.antlr.v4.runtime.misc.Array2DHashSet.class
/org.antlr.v4.runtime.misc.FlexibleHashMap$Entry.class
/org.antlr.v4.runtime.misc.FlexibleHashMap.class
/org.antlr.v4.runtime.misc.IntegerList.class
/org.antlr.v4.runtime.misc.Interval.class
/org.antlr.v4.runtime.misc.IntervalSet.class
/org.antlr.v4.runtime.misc.Pair.class
/org.antlr.v4.runtime.tree.TerminalNodeImpl.class
/org.apache.tomcat.util.codec.binary.BaseNCodec$Context.class
/org.apache.tomcat.util.collections.CaseInsensitiveKeyMap$EntryImpl.class
/org.apache.tomcat.util.collections.CaseInsensitiveKeyMap$EntryIterator.class
/org.apache.tomcat.util.collections.CaseInsensitiveKeyMap$Key.class
/org.apache.tomcat.util.collections.CaseInsensitiveKeyMap.class
/org.apache.tomcat.util.threads.ThreadPoolExecutor.class
/org.apache.tomcat.websocket.AsyncChannelWrapperSecure$ReadTask.class
/org.apache.tomcat.websocket.AsyncChannelWrapperSecure$WrapperFuture.class
/org.apache.tomcat.websocket.FutureToSendHandler.class
/org.apache.tomcat.websocket.MessagePart.class
/org.apache.tomcat.websocket.Util.class
/org.apache.tomcat.websocket.WsFrameBase$NoopTransformation.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplBase$BlockingSendHandler.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplBase$EndMessageHandler.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplBase$IntermediateMessageHandler.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplBase$OutputBufferSendHandler.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplBase$TextMessageSendHandler.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplBase.class
/org.apache.tomcat.websocket.WsRemoteEndpointImplClient.class
/org.apache.tomcat.websocket.WsSession.class
/org.apache.tomcat.websocket.WsWebSocketContainer.class
/org.apache.tomcat.websocket.pojo.PojoEndpointClient.class
/org.apache.xerces.impl.XMLEntityManager$ScannedEntity.class
/org.apache.xerces.util.AugmentationsImpl$SmallContainer.class
/org.apache.xerces.util.AugmentationsImpl.class
/org.apache.xerces.util.URI.class
/org.apache.xerces.util.XMLResourceIdentifierImpl.class
/org.apache.xerces.xni.QName.class
/org.apache.xerces.xni.XMLString.class
/org.codehaus.commons.compiler.Location.class
/org.codehaus.janino.Access.class
/org.codehaus.janino.CodeContext$Offset.class
/org.codehaus.janino.IClass$1.class
/org.codehaus.janino.IClass$2.class
/org.codehaus.janino.IClass$IConstructor.class
/org.codehaus.janino.IClass$IField.class
/org.codehaus.janino.IClass$IMethod.class
/org.codehaus.janino.IClass.class
/org.codehaus.janino.Java$AmbiguousName.class
/org.codehaus.janino.Java$ArrayAccessExpression.class
/org.codehaus.janino.Java$ArrayInitializer.class
/org.codehaus.janino.Java$ArrayLength.class
/org.codehaus.janino.Java$Assignment.class
/org.codehaus.janino.Java$BinaryOperation.class
/org.codehaus.janino.Java$Block.class
/org.codehaus.janino.Java$Cast.class
/org.codehaus.janino.Java$CompilationUnit$SingleTypeImportDeclaration.class
/org.codehaus.janino.Java$ConstructorDeclarator.class
/org.codehaus.janino.Java$Crement.class
/org.codehaus.janino.Java$EmptyStatement.class
/org.codehaus.janino.Java$ExpressionStatement.class
/org.codehaus.janino.Java$FieldAccess.class
/org.codehaus.janino.Java$FieldAccessExpression.class
/org.codehaus.janino.Java$FieldDeclaration.class
/org.codehaus.janino.Java$ForEachStatement.class
/org.codehaus.janino.Java$ForStatement.class
/org.codehaus.janino.Java$FunctionDeclarator$FormalParameter.class
/org.codehaus.janino.Java$FunctionDeclarator$FormalParameters.class
/org.codehaus.janino.Java$IfStatement.class
/org.codehaus.janino.Java$Instanceof.class
/org.codehaus.janino.Java$LocalVariable.class
/org.codehaus.janino.Java$LocalVariableAccess.class
/org.codehaus.janino.Java$LocalVariableDeclarationStatement.class
/org.codehaus.janino.Java$LocalVariableSlot.class
/org.codehaus.janino.Java$MethodDeclarator.class
/org.codehaus.janino.Java$MethodInvocation.class
/org.codehaus.janino.Java$NewArray.class
/org.codehaus.janino.Java$NewClassInstance.class
/org.codehaus.janino.Java$NewInitializedArray.class
/org.codehaus.janino.Java$ParenthesizedExpression.class
/org.codehaus.janino.Java$Primitive.class
/org.codehaus.janino.Java$QualifiedThisReference.class
/org.codehaus.janino.Java$ReturnStatement.class
/org.codehaus.janino.Java$Rvalue$2.class
/org.codehaus.janino.Java$SuperConstructorInvocation.class
/org.codehaus.janino.Java$SwitchStatement$SwitchBlockStatementGroup.class
/org.codehaus.janino.Java$SwitchStatement.class
/org.codehaus.janino.Java$ThisReference.class
/org.codehaus.janino.Java$ThrowStatement.class
/org.codehaus.janino.Java$UnaryOperation.class
/org.codehaus.janino.Java$VariableDeclarator.class
/org.codehaus.janino.Java$WhileStatement.class
/org.codehaus.janino.MethodDescriptor.class
/org.codehaus.janino.ReflectionIClass$ReflectionIField.class
/org.codehaus.janino.ReflectionIClass.class
/org.codehaus.janino.UnitCompiler$31.class
/org.codehaus.janino.util.iterator.FilterListIterator.class
