@font-face {
  font-family: roboto;
  src: url("fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: roboto;
  src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
body {
  font-family: sans-serif;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  color: #ffff34;
  background-color: #04272a; }
.price{
	color: #ffffff;
	font-family: roboto;
    background-color: #0c1110; 
    width: 100%; 
    font-size: 12px; }
.data {
	color: #ff3333;
	font-family: roboto;
    background-color: blue; 
    width: 100%; 
    font-size: 12px; }    
.priceMINUS {
	color: #33ff33;
  }    
.pricePLUS {
	color: #33ffff;
  }            